<div class="row">
	<!-- <div class="small-2 column">
		<img src="" style="width: 100%">
	</div> -->
	<div class="small-10 column">
		<p style="margin-bottom: 0px;">
			<b>{{ include.title }}</b>, {{ include.author_list }}, <i>{{ include.published_in }}</i> {% if include.special %}
			<b style="color:#FF0000;"> {{ include.special }}</b> {% endif %} {% if include.url %}<a href="{{ include.url }}" text-decoration:none> [PDF]</a> {% endif %}
			{% if include.code_url %}
			<a href="{{ include.code_url }}" text-decoration:none> [Code]</a>
			{% endif %}
		</p>
	</div>
</div>

---
